@charset "utf-8";

html {
  position: relative;
  min-height: 100%;
}

body{
  background: #f5f6f7;
  margin-bottom: 60px;
}

#logo {
  height: 50px;
  float:left;
}

.header-navbar {
  margin-bottom: 0px;
}

.user-placeholder {
  height: 100px;
  width: 100px;
}

.user-placeholder-header {
  margin-top: 10px;
  height: 30px;
  width: 30px;
}

.user-placeholder-index {
  height: 200px;
  width: 242px;
}

.user-placeholder-show {
  height: 400px;
  width: 400px;
}

.post-user-image {
  width: 64px;
  height: 64px;
}

/* GENERAL */
.white-text{
  color: #ffffff;
}

.f-right{
  float: right;
}

.f-left{
  float: left;
}

.b-margin{
  margin-bottom: 15px;
}

.center{
    text-align: center !important;
}

.in-block{
  display: inline-block;
}

/* HEADER */

.header-top {
  padding: 1.6em 0;
  background-color: #737c85;
}

.top-menu {
  text-align: center;
  float:right;
}

.cl-effect-16 {
  margin-bottom: 0px;
}

.cl-effect-16 a {
  color: #5bc0de;
  text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

.top-menu ul li{
  display:inline-block;
    margin-right: 1.1em;
}
.top-menu ul li a{
  display: inline-block;
  font-weight: 400;
  font-size: 1em;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  padding: 0;
      margin-top: 20px;
}
.top-menu ul li.active a span{
  background:#e74c3c;
  width:100%;
  height:1px;
  display:block;
  position:absolute;
  top:0px;
  left:0px;
}
.top-menu ul li a:hover,.top-menu ul li a.active {
 color: #5bc0de;
}
.top-menu ul li:nth-child(5) a{
  margin:0;
}
.login-button {
  background: #5bc0de;
  padding:0.8em 2em;
  outline: none;
  border: none;
  color:#fff;
  -webkit-appearance: none;
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -o-border-radius: 0.4em;
}

.login-input {
  margin-right: 5px;
}

.form-control{
  height: 43px !important;
}

/* REGISTER */
.register-background{
  background-size: cover;
  background-color: #808080;
}

.register-panel{
  padding: 20px;
  margin: 50px 0 50px;
  background: rgba(255,255,255,0.2);
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

/* INDEX */
.content{
  background:#f5f6f7;
  padding:3em 0;
}
.dapibus {
  background: #fff;
  padding: 2em 1.3em;
  box-shadow: 0px 1px 5px -1px rgba(104, 123, 144, 0.31);
  border-radius: 0.3em;
}
.content h2 {
  font-size: 1.1em;
  font-weight: 600;
  color: #556a7f;
  text-align: left;
  line-height: 1.4em;
  margin:0;
}
p.adm {
  color: #868f98;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
  text-align: left;
  font-style: italic;
  margin: 0 0 5px;
}

p.adm a:hover {
  color: #868f98;
}
.content p {
  color: #868f98;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
  text-align: left;
}
.link {
  background: url(/images/arrow.png) no-repeat -1px 5px;
  display: inline-block;
  padding: 0 0 0 13px;
  line-height: 20px;
  font-size: 1em;
  font-style: normal;
  color: #dc8e7f;
  font-weight: 700;
}
a.link:hover{
  color: #736f72;
}

.praesent {
  margin-bottom: 15px;
}




/*--about--*/
.about {
  background: #f5f6f7;
  padding: 3em 0;
}
.biographys {
  margin-top: 2em;
  background: #fff;
  padding: 2em 1.5em;
  box-shadow: 0px 1px 4px 0px rgba(104, 123, 144, 0.31);
  border-radius: 0.3em;
}
.about h2 {
  color: #556a7f;
  font-size: 3em;
  margin: 0em;
  font-weight: 700;
  text-align:center;
}
.biography {
  padding: 1em 0;
}

.biography-into h4 {
  color: #556a7f;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.biography-into h3 {
  color: #556a7f;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.biography-into h4 a{
  color: #556a7f;
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.biography-into h2 {
  color: #556a7f;
  font-size: 2.5em;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.biography-into p {
  color: #868f98;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.8em;
  margin-bottom: 1em;
}
.biography-info-right {
  border: none;
  outline: 0;
  color: #fff;
  background:#ffc000;
  padding:0.3em 1.5em 0.5em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  font-size: 1.2em;
  font-weight: 400;
}
.biography-info-right:hover {
  background-color:#736f72;
  color: #fff;
  text-decoration: none;
}
/*--/about--*/

.post-textarea{
  height: 150px !important;
}

.skill-container{
  line-height: 3em !important;
  text-align: center !important;
}

/* USERS */
.user-image{
  height: 150px;
  width: auto;
}

/* JOB OFFERS*/
.apply-button{
  float: right;
  margin-top: -65px;
}

/* FOOTER*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #737c85;
  color:white;
}

.grey-bg{
    background-color: #737c85;
}

.no-underline a:hover {
  text-decoration: none;
}

.remove-button {
  cursor: pointer;
}

/* GENERAL */
.media{
  overflow: visible;
}

.media-body{
  padding: 10px;
}

.form-group-shadow span{
  color: yellow;
  text-shadow: 0px 0px 4px black;
}

.grid-row{
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap:1em;
}

.grid-item{
   display: inline-block;
   padding:  .25rem;
   width:  100%;
}

.top-right-edit-button{
  position: absolute;
  top: 15px;
  right: 35px;
}

.green-text{
  color: green;
}

.red-text{
  color:#CC3300;
}

.upper{
  text-transform: uppercase;
}

.strength_meter {
  width: 100%;
  height: 10px;
  z-index: -1;
  border-radius: 4px;
}

.strength_meter div {
  width: 0%;
  height: 10px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding-right: 12px;
  border-radius: 4px;
}

.veryweak {
  background-color: #FFA0A0;
  border-color: #F04040 !important;
  width: 25% !important;
}

.weak {
  background-color: #FFB78C;
  border-color: #FF853C !important;
  width: 50% !important;
}

.medium {
  background-color: #FFEC8B;
  border-color: #FC0 !important;
  width: 75% !important;
}

.strong {
  background-color: #C3FF88;
  border-color: #8DFF1C !important;
  width: 100% !important;
}

.skill {
  margin-right: 5px;
}
